# SAGT服务器配置
SAGT_SERVER_URL=http://127.0.0.1:2024
SAGT_USER_ID=ChengJianZhang
SAGT_PASSWORD=123456
SAGT_GRAPH_ID=sagt

# Web体验账号配置
WEB_USER_ID=ChengJianZhang
WEB_PASSWORD=admin123

# 业务体验配置
EXTERNAL_ID=wmE8gRKQAArnVDJ84bNuOK3KVjy_7-Wg

# JWT配置
JWT_SECRET_KEY= your-jwt-secret-key-change-in-production-make-it-long-and-random
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
