# 测试用的客户ID
DEMO_EXTERNAL_ID=wmE8gRKQAArnVDJ84bNuOK3KVjy_7-Wg
DEMO_USER_ID=ChengJianZhang

## 开发环境
SAGT_SERVER_URL=http://127.0.0.1:2024
SAGT_USER_ID=ChengJianZhang
SAGT_USER_PASSWORD=123456

## 生成环境，慎用
#SAGT_SERVER_URL=http://127.0.0.1:9123
# SAGT_USER_ID=ChengJianZhang
# SAGT_USER_PASSWORD=123456
